{% extends 'base.html' %}
{% block content %}
<center>
<h1 style="color: aliceblue;">Student Roll Numbers</h1>
<table border="1">
    <tr>
        <th style="color: aliceblue;">Roll No</th>
        <th style="color: aliceblue;">Name</th>
    </tr>
    <tr>
        <td><a href="https://djangoproject-ivtm.onrender.com/">2210080002</a></td>
        <td><input type="text" id="name_2210080002" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-1-2d4b.onrender.com/">2210080003</a></td>
        <td><input type="text" id="name_2210080003" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-dmjy.onrender.com/">2210080004</a></td>
        <td><input type="text" id="name_2210080004" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080005">2210080005</a></td>
        <td><input type="text" id="name_2210080005" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080006">2210080006</a></td>
        <td><input type="text" id="name_2210080006" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://dheerajproject.onrender.com">2210080007</a></td>
        <td><input type="text" id="name_2210080007" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080008">2210080008</a></td>
        <td><input type="text" id="name_2210080008" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-8yvy.onrender.com">2210080009</a></td>
        <td><input type="text" id="name_2210080009" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django10-zhkj.onrender.com">2210080010</a></td>
        <td><input type="text" id="name_2210080010" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080011">2210080011</a></td>
        <td><input type="text" id="name_2210080011" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://oxalis-vbfx.onrender.com/">2210080012</a></td>
        <td><input type="text" id="name_2210080012" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://bmi-calculator-58vg.onrender.com/">2210080013</a></td>
        <td><input type="text" id="name_2210080013" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-project-e57d.onrender.com/">2210080014</a></td>
        <td><input type="text" id="name_2210080014" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080015">2210080015</a></td>
        <td><input type="text" id="name_2210080015" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080016">2210080016</a></td>
        <td><input type="text" id="name_2210080016" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://djangoprojectp2.onrender.com">2210080018</a></td>
        <td><input type="text" id="name_2210080018" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://myproject12-lmz2.onrender.com">2210080019</a></td>
        <td><input type="text" id="name_2210080019" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-1-09ue.onrender.com">2210080020</a></td>
        <td><input type="text" id="name_2210080020" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django1-kme6.onrender.com">2210080021</a></td>
        <td><input type="text" id="name_2210080021" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-1-0blj.onrender.com/">2210080022</a></td>
        <td><input type="text" id="name_2210080022" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080023">2210080023</a></td>
        <td><input type="text" id="name_2210080023" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://djangoproject1-wu4c.onrender.com/">2210080024</a></td>
        <td><input type="text" id="name_2210080024" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://djangoproject-zy6p.onrender.com">2210080025</a></td>
        <td><input type="text" id="name_2210080025" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080026">2210080026</a></td>
        <td><input type="text" id="name_2210080026" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080027">2210080027</a></td>
        <td><input type="text" id="name_2210080027" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080028">2210080028</a></td>
        <td><input type="text" id="name_2210080028" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://project-80029.onrender.com">2210080029</a></td>
        <td><input type="text" id="name_2210080029" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080030">2210080030</a></td>
        <td><input type="text" id="name_2210080030" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://djangoproject-lbbo.onrender.com">2210080031</a></td>
        <td><input type="text" id="name_2210080031" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-project-lhz7.onrender.com/">2210080032</a></td>
        <td><input type="text" id="name_2210080032" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080033">2210080033</a></td>
        <td><input type="text" id="name_2210080033" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080034">2210080034</a></td>
        <td><input type="text" id="name_2210080034" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080035">2210080035</a></td>
        <td><input type="text" id="name_2210080035" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080036">2210080036</a></td>
        <td><input type="text" id="name_2210080036" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080037">2210080037</a></td>
        <td><input type="text" id="name_2210080037" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080038">2210080038</a></td>
        <td><input type="text" id="name_2210080038" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://djangopro1.onrender.com">2210080039</a></td>
        <td><input type="text" id="name_2210080039" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080040">2210080040</a></td>
        <td><input type="text" id="name_2210080040" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080041">2210080041</a></td>
        <td><input type="text" id="name_2210080041" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080042">2210080042</a></td>
        <td><input type="text" id="name_2210080042" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080043">2210080043</a></td>
        <td><input type="text" id="name_2210080043" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080044">2210080044</a></td>
        <td><input type="text" id="name_2210080044" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080045">2210080045</a></td>
        <td><input type="text" id="name_2210080045" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080046">2210080046</a></td>
        <td><input type="text" id="name_2210080046" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080048">2210080048</a></td>
        <td><input type="text" id="name_2210080048" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-1-kg28.onrender.com">2210080049</a></td>
        <td><input type="text" id="name_2210080049" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://project1-b2ji.onrender.com/">2210080050</a></td>
        <td><input type="text" id="name_2210080050" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-project-aids-22.onrender.com/">2210080051</a></td>
        <td><input type="text" id="name_2210080051" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080052">2210080052</a></td>
        <td><input type="text" id="name_2210080052" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-1-05uy.onrender.com_">2210080053</a></td>
        <td><input type="text" id="name_2210080053" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://djamgo-1.onrender.com/">2210080054</a></td>
        <td><input type="text" id="name_2210080054" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080055">2210080055</a></td>
        <td><input type="text" id="name_2210080055" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080056">2210080056</a></td>
        <td><input type="text" id="name_2210080056" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080057">2210080057</a></td>
        <td><input type="text" id="name_2210080057" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080058">2210080058</a></td>
        <td><input type="text" id="name_2210080058" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080059">2210080059</a></td>
        <td><input type="text" id="name_2210080059" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080062">2210080062</a></td>
        <td><input type="text" id="name_2210080062" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080064">2210080064</a></td>
        <td><input type="text" id="name_2210080064" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://django-1-0h9c.onrender.com/">2210080065</a></td>
        <td><input type="text" id="name_2210080065" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080066">2210080066</a></td>
        <td><input type="text" id="name_2210080066" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080068">2210080068</a></td>
        <td><input type="text" id="name_2210080068" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://project2-jr6x.onrender.com9">2210080069</a></td>
        <td><input type="text" id="name_2210080069" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080071">2210080071</a></td>
        <td><input type="text" id="name_2210080071" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080072">2210080072</a></td>
        <td><input type="text" id="name_2210080072" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080073">2210080073</a></td>
        <td><input type="text" id="name_2210080073" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080074">2210080074</a></td>
        <td><input type="text" id="name_2210080074" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080075">2210080075</a></td>
        <td><input type="text" id="name_2210080075" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080076">2210080076</a></td>
        <td><input type="text" id="name_2210080076" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210080077">2210080077</a></td>
        <td><input type="text" id="name_2210080077" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="https://djangoproject12345.onrender.com/">2210089078</a></td>
        <td><input type="text" id="name_2210089078" placeholder="Enter Name"></td>
    </tr>
   <tr>
        <td><a href="student_info.html#2210089079">2210089079</a></td>
        <td><input type="text" id="name_2210080077" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2210089080">2210089080</a></td>
        <td><input type="text" id="name_2210089080" placeholder="Enter Name"></td>
    </tr>
    <tr>
        <td><a href="student_info.html#2200060033">2200060033</a></td>
        <td><input type="text" id="name_2200060033" placeholder="Enter Name"></td>
    </tr>
</table>
</center>

<script>

    var nameMap = {
        "2210080002": "DURGAMPUDI LEENA REDDY",
        "2210080003": "AKSHITHA BAVISETTI",
        "2210080004": "MV NAGA SIVA PAVAN SUJIT REDDY",
        "2210080005": "U RAKESH KUMAR",
        "2210080006": "M KARTHIKEYAN",
        "2210080007": "DHEERAJ NARAYANAM",
        "2210080008": "ALLA UJWAL SAI",
        "2210080009": "INDUKURI GEETA SAI SAHASRA",
        "2210080010": "SONIA JANYAVULA",
        "2210080011": "YAKUB",
        "2210080012": "LANGATI GANESH KUMAR REDDY",
        "2210080013": "ABHAY ANJANEYAVALLABH KOKA ",
        "2210080014": "KOMMAREDDY DIANA MARY",
        "2210080015": "GANGALA SRAVANTHI",
        "2210080016": "GOWTHAM PITLA",
        "2210080018": "KOMMU SHANMUKH",
        "2210080019": "SUTAPALLI MUKUNADA RAGHURAM",
        "2210080020": "K MAHI MANUSHA",
        "2210080021": "B CHINMAYEE REDDY",
        "2210080022": "P ANANYA",
        "2210080023": "DUDAM RACHANA",
        "2210080024": "MANCHARLA KARTHIK REDDY",
        "2210080025": "SOMALITA PRIYADARSHINEE",
        "2210080026": "TURPU NAGA SATYA",
        "2210080027": "VENKATA SURYA ABBURI",
        "2210080028": "DADE SAICHARAN",
        "2210080029": "SUNKARA SRUJAN BHARGAV",
        "2210080030": "P VENKATA SARATH BHUSHAN",
        "2210080031": "ATLA BHUVANIKA",
        "2210080032": "GUNDELY SIDDHARTA YADAV",
        "2210080033": "R MADHUNI RAJENDIRAN",
        "2210080034": "MANNE JYOTHI",
        "2210080035": "BATTHULA MADHU",
        "2210080036": "MSH SREENIDHI SHARMA",
        "2210080037": "GADDAM THRISHUL REDDY",
        "2210080038": "ABHAYA ADITYA CH",
        "2210080039": "MUDEMELLA ABHINAV GOUD",
        "2210080040": "CHAPALA AKHILA",
        "2210080041": "THOKALA SHREYAS",
        "2210080042": "T PUNITH",
        "2210080043": "REVANTH GUTHULA",
        "2210080044": "B VISHNUVARDHAN REDDY",
        "2210080045": "PASUPULETI LIKITH",
        "2210080046": "N KAUSHIK REDDY",
        "2210080048": "PALLEMPATI SRI HARSHA VARDHAN",
        "2210080049": "ALLADA SANINA",
        "2210080050": "PADMA SREEJA",
        "2210080051": "SYED AQUIB ATEEQ",
        "2210080052": "J VISHNU VARDHAN REDDY",
        "2210080053": "SLEELA KUMARI",
        "2210080054": "S PUSHPA RANI",
        "2210080055": "PAVAN JOSHI",
        "2210080056": "DADUVAI MEGGAMSH",
        "2210080057": "G RISHINEHA",
        "2210080058": "D SAI PRATHUSHA",
        "2210080059": "P VISWAGNYA",
        "2210080062": "ARIBANDI KRISHNA CHAITANYA",
        "2210080064": "MIDDEVULKUNDAKAR ADITYA",
        "2210080065": "PENTAPATI HEMA SANKHAR",
        "2210080066": "SUNKE SIVABHISHEK",
        "2210080068": "VANGARI ROHAN",
        "2210080069": "L-SATYA LOKESH",
        "2210080071": "MD SEHMAN KABIR KHAN",
        "2210080072": "GUNGI MADHAVA",
        "2210080073": "GUTTA VIDHATRI",
        "2210080074": "POTLURI PHANI SATHVIK",
        "2210080075": "N MOHANA SRAVANI",
        "2210080076": "TANGUTURI SWAPNIKA",
        "2210080077": "MAY REDDY ADITHYA REDDY",
        "2210089078": "PAVAN TARAK",
        "2210089079": "Y JASWANTH SAI",
        "2210089080": "T POORNA RAM",
        "2200060033": "JAYANTH DATTA K"
    };
    for (var rollNo in nameMap) {
        var inputField = document.getElementById("name_" + rollNo);
        if (inputField) {
            inputField.value = nameMap[rollNo];
        }
    }
</script>
{% endblock %}